<html>

<head>
    <link rel="stylesheet" href="style1.css">
</head>

<body>
    <div class="home"><button class="b1" onclick="window.location.href='/'">GO BACK TO HOMEPAGE</button></div>
    <div class="container">
        <div class="box">
            <div class="video">
                <iframe width="360" height="315" src="https://www.youtube.com/embed/tVzUXW6siu0?si=aFmn2U1540u2mQ9L"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="text"><strong>Installing VS Code & How Websites Work | Sigma Web Development Course - Tutorial
                    #1</strong>
            </div>
        </div>
        <div>
            <div class="box">
                <div class="video">
                    <iframe width="360" height="315" src="https://www.youtube.com/embed/kJEsTjH5mVg?si=Psk3GJbXhkfSaQyD"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="text"><strong>Understanding HTML, CSS, and JavaScript | Sigma Web Development Course -
                        Tutorial #2</strong>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="video">
                <iframe width="360" height="315" src="https://www.youtube.com/embed/BGeDBfCIqas?si=CWvItv9eGF1pNIp8"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="text"><strong>Basic Structure of an HTML Website | Sigma Web Development Course - Tutorial
                    #3</strong></div>
        </div>
        <div class="box">
            <div class="video">
                <iframe width="360" height="315" src="https://www.youtube.com/embed/nXba2-mgn1k?si=qe4K126D6LHRGz9Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="text"><strong>
                    Heading, Paragraphs and Links | Sigma Web Development Course - Tutorial #4</strong></div>
        </div>
    </div>
</body>

</html>