<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="style5.css">
</head>

<body>
    <div class="container">
        <button class="b2" onclick="window.location.href='/'">GO BACK TO HOME</button>
        <div class="container1">
            <form>
                <P style="font-size: 25px; font-family:'Comic Sans MS', 'Comic Sans', cursive;"><strong>WELCOME TO LOGIN
                        PAGE</strong></P>
                <input type="username" placeholder="Enter Username" class="a1"></br>
                <input type="password" placeholder="Enter password" class="a1"></br>
                <button type="reset" class="b1">Reset</button>
                <button class="b1">Log In</button></a>
            </form>
        </div>
    </div>
</body>